#gliffy-element-count-tab input {
    width: 30px;
}

#gliffy-element-count-tab input + span {
    margin-left: 10px;
}

#gliffy-element-count-tab .gliffy-highlight-container {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#gliffy-element-count-tab #gliffy-contextual-properties-highlight-button {
    height: 29px;
}