body.gliffy-no-ui #gliffy {
    margin: 0px 0px !important;
    padding: 0px 0px !important;
}

body.gliffy-no-ui .navbar {
    display: none !important;
    margin: 0px 0px !important;
}

body.gliffy-no-ui #atlwdg-trigger {
    display: none !important;
}

body.gliffy-no-ui .row-fluid > .span2 {
    display: none !important;
}

body.gliffy-no-ui .row-fluid > .span-fixed-sidebar{
    margin: 0px 0px !important;
}

body.gliffy-no-ui #gliffy-tabs-container {
    display: none !important;
}

body.gliffy-no-ui #container{
    width:100% !important;
    height: 100% !important;
    overflow: hidden !important;
    border:0px !important;
}

body.gliffy-no-ui .gliffy-divider {
    display: none !important;
}

body.gliffy-no-ui .gliffy-tips {
    display: none !important;
}

body.gliffy-no-ui #gliffy-theme-controls {
    display: none !important;
}