#gliffy-contextual-properties-network-rack-resize-buttons #gliffy-contextual-properties-network-rack-input-update-units{
    width: 30px;
}
.gliffy-contextual-properties-network-rack-input-update-units.disabled {
    display:none;
}
#gliffy-contextual-properties-checkbox-hide-units, #gliffy-contextual-properties-checkbox-hide-label {
    margin-top: 15px;
    vertical-align: bottom;
}
