#gliffy-selected-tab-v2 input {
    width: 30px;
}

#gliffy-selected-tab-v2 input + span {
    margin-left: 10px;
}

#gliffy-selected-tab-v2 .gliffy-highlight-container {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#gliffy-selected-tab-v2 #gliffy-contextual-properties-highlight-button {
    height: 29px;
}