.gliffy-custom-dropdown {
    position: absolute;
    top:0;
    right:0;
}

.gliffy-custom-dropdown ul {
    position : fixed;
    top:0;
    left:0;
}

.gliffy-icon-library-gear {
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
