//global
$gliffy-blue: #1787fb;
$gliffy-blue-dark: #0067fb;
$font: #4d4d4d;
$white: #fff;
$error-red: #b94a48;
$button-font: $gliffy-blue;
$button-border: $gliffy-blue;
$button-hover: $gliffy-blue-dark;
$grey-button-hover: #e8e8e8;
$grey-button-active: #e8e8e8;
$grey-border: #e6e6e6;
$grey-bg:#f7f7f7;


//needed for ember-online-common ----------------------
//admin.scss
$lime-tint-10: #88C142;
$lime-tint-25: #9CCC61;
$lime-tint-90: #F2F7EB;
$blue: #0088cc;
$blue-tint-10: #1A94D1;
$grey-tint-50: #B2B2B2;

//gliffy-online.scss
$button-light-blue: #39679f;
$button-dark-blue: #193d69;
$button-orange: #ef8651;
$grey :#666666;
$light-grey: #ddd;
$explicit-onboarding-circle-fill: #d9edf7;
$explicit-onboarding-dark-blue: #0088cc;
$medium-grey: #666;
$medium-dark-grey: #aaa;
$orange-emphasis: #ef8651;

//needed for ember-online-security ---------------------
$social-facebook-background-color: #4A639E;
$social-microsoft-background-color: #1570A6;

//modal
$grey-modal-text: #555;
$font-open-sans: 'Open Sans', Arial, sans-serif;
$transparent-med-light-grey: rgba(153, 153, 153, .5);

$border: #e6e6e6;
